<% provide(:title, "Old Departments: #{@business.name}") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @business.name %>
      </h1>
    </section>
    <section>
      <div class="instruction">
        <div class="line-space">
          <%= old_dept_1 %>
        </div>
        <div class="line-space">
          <%= old_dept_2 %>
        </div> 
        <div>
          <%= reactivate_dept %>
        </div>
      </div>
    </section>
  </aside>
  
  <div class="span8">
    <h1 class="align-left">Old Departments</h1>
    
    <div style="padding-bottom: 10px">
      <%= link_to "Current departments", business_departments_path(@business), class: "btn" %>
      <%= link_to "Back to Business Settings Menu", @business, class: "btn" %>
    </div>
    <ul class="itemlist">
      <%= render "departments/list" %>
    </ul>
  </div>
</div>
