<div class="field">
<%= f.label :name, "Holiday name" %>
<%= f.text_field :name, class: "span4" %>
</div>

<div class="field">
<%= f.label :start_date %>
<%= f.text_field :start_date, class: "span2" %>
</div>

<div class="field line-space">
<%= f.label :end_date %>
<%= f.text_field :end_date, class: "span2" %>
</div>

<%= render "shared/superuser_check", {f: f, object: f.object} %>

<div style="clear:both"><%= f.hidden_field :updated_by %></div>
