<% provide(:title, "Old Absence Types: #{@business.name}") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @business.name %>
      </h1>
    </section>
    <section>
      <div class="instruction">
        <div class="line-space">
          <%= old_abscat_1 %>
        </div>
        <div>
          <%= reactivate_abscat %>
        </div>  
      </div>
    </section>
  </aside>
  
  <div class="span8">
    <h1 class="align-left">Old Absence Types</h1>
    
    <div style="padding-bottom: 10px">
      <%= link_to "Current absence types", business_absence_cats_path(@business), class: "btn" %>
      <%= link_to "Back to Business Settings Menu", @business, class: "btn" %>
    </div>
    <ul class="itemlist">
      <%= render "absence_cats/list" %>
    </ul>
  </div>
</div>
