     <li class="list-header">
        <span class="span1">(move)</span>
        <span class="span2">Item</span>
        <span class="span1">Category</span>
        <span class="span1">Code</span>
        <span class="span1">Deduction</span>
        <span class="span1">Gross?</span>
     </li>
     
     <% @payitems.each do |payitem| %>
        <%= content_tag_for :li, payitem do %>
          <span class="span1">
            <span class="handle"><%= image_tag "dragdrop.png" %></span>
            <%= render "shared/superuser_admin_notifications", model_name: payitem %>
          </span>
          <span class="span2"><%= payitem.item %></span>
          <span class="span1"><%= payitem.pay_category.category %></span>
          <span class="span1"><%= payitem.short_name %></span>
          <span class="span1"><%= payitem.deduction? ? 'Yes' : 'No' %></span>
          <span class="span1"><%= payitem.taxable? ? 'Yes' : 'No' %></span>
          | <%= link_to "edit", edit_pay_item_path(payitem) %>
          <%= render "admin_deletes", payitem: payitem %>
        <% end %>
      <% end %>
