<div class="line-space">
  Effective Date: <%= date_display_long(@rate.effective) %>
</div>

<div class="line-space">
  <% if @rate.source_employee? %>
    EMPLOYEE Rate
  <% else %>
    EMPLOYER Rate
  <% end %>
</div>

<div class="line-space">
  Employee Code: <%= @rate.insurance_code.insurance_code %> (<%= @rate.insurance_code.explanation %>)
</div>

<div class="line-space">
  Salary Band - From: <%= @rate.threshold.shortcode %> 
    (<%= @country.currency.code %> <%= dec_place_number(@rate.threshold.monthly_milestone, @country.currency.decimal_places) %>)
</div>

<div class="line-space">
  Salary Band - To:
  <% if @rate.ceiling_id.nil? %>
    Any higher salary
  <% else %>
    <%= @rate.ceiling.shortcode %> 
      (<%= @country.currency.code %> <%= dec_place_number(@rate.ceiling.monthly_milestone, @country.currency.decimal_places) %>)
  <% end %>
</div>

<% if @rate.rebate? %>
  <div>
    REBATE
  </div>
<% end %>

<hr />
<div class="line-space">
  <span class="span1" style="margin-left: 0"><%= f.label :contribution %></span>
  <span class="span1"><%= f.text_field :contribution, class: "number-field" %></span>
  <span class="span1"><%= f.label :percent_true, "Percentage" %></span>
  <span class="span1"><%= f.radio_button :percent, "true" %></span>
  <span class="span1"><%= f.label :percent_false, "or Value (#{@country.currency.code})" %></span>
  <span class="span1">
    <i class ="icon-question-sign help-button" id="contribution-click" style="float:right"></i>
    <%= f.radio_button :percent, "false" %>
  </span>
  <div id="contributions" class="help-inline"><%= contribution_explain %></div>
</div>
<%= f.hidden_field :checked %>

