<div class "top-line-space line-space">
  <span class="span2" style="margin: 0">
    <%= f.label :effective, "Effective date" %></span>
  <span class="span3">  
    <%= f.text_field :effective %>
  </span>
</div>  
<div class = "line-space" style = "clear:both">
  <%= f.hidden_field :insurance_code_id %>
  <%= f.hidden_field :contribution %>
  <%= f.hidden_field :threshold_id %>
  <%= f.hidden_field :updated_by %>
  <%= f.hidden_field :created_by %>
</div>

  
  
  

