<% provide(:title, 'Set New Insurance Rates') %>
<div class="row">
  <aside class="span3">
    <section>
      <h1 class="line-space">
        <%= @country.country %>
      </h1>
      <div class="instruction">
        <div class="line-space">
          <%= insurance_sets_instruction_1 %>
        </div>
        <div class="line-space">
          <%= insurance_sets_instruction_2 %>
        </div>
        <div>
          <%= insurance_sets_instruction_3 %>
        </div>   
      </div>
    </section>
  </aside>
  <div class="span6 offset0">
    <h1>Set New Insurance Rates</h1>
    <%= form_for([@country, @rate], url: country_insurance_sets_path(@country)) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create", class: "btn btn-primary" %>
      <%= link_to "Current National Insurance rates", country_insurance_rates_path(@country), class: "btn" %>
      <%= link_to "Main insurance menu", insurance_menu_country_path(@country), class: "btn" %>
    <% end %>
  </div>
</div>
