<% provide(:title, "New Salary Thresholds") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @country.country %>
      </h1>
    </section>
    <section>
      <div class="instruction">
        <%= render "instructions" %>  
      </div>
    </section>
  </aside>
  
  <div class="span8">
    <h1 class="align-left">New Salary Thresholds: National Insurance</h1>

    <div style="padding-bottom: 10px">
      <%= link_to "Back to current salary thresholds", country_insurance_settings_path(@country), class: "btn" %>
      <%= link_to "Back to main insurance menu", insurance_menu_country_path(@country), class: "btn" %>
    </div>
    <ul class="itemlist">
      <%= render "list" %>
    </ul>
  </div>
</div>
