<% provide(:title, 'Refresh Salary Thresholds') %>
<div class="row">
  <aside class="span3">
    <section>
      <h1 class="line-space">
        <%= @country.country %>
      </h1>
      <div class="instruction">
        <div>
          <%= render "instructions_new_thresholds" %>
        </div> 
      </div>
    </section>
  </aside>
  <div class="span6 offset0">
    <h1>Refresh All Salary Threshold Settings</h1>
    <%= form_for([@country, @setting], url: country_insurance_thresholds_path(@country)) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create", class: "btn btn-primary" %>
      <%= link_to "Back to current salary thresholds", country_insurance_settings_path(@country), class: "btn" %>
      <%= link_to "Main insurance menu", insurance_menu_country_path(@country), class: "btn" %>
    <% end %>
    <div class="top-line-space standout">
      After adding new salary thresholds, you need to update your list of National Insurance rates.  Create a new
      set of rates with the same effective date, to make sure all the new threshold settings are included.
    </div>
  </div>
</div>
