
<div class = "field line-space">
  <div class="span2" style="margin-left: 0; line-height: 2">
  	<span class ="r-float"><i class ="icon-question-sign span2" id="code-entry"></i></span>
  	<%= f.label :insurance_code %>
  </div>
  <div id="code-entry-note" class="help-inline"><%= code_guidance %></div>
  <div style="clear:both; margin-top: 15px"><%= f.text_field :insurance_code, class: "span2" %></div>
</div>

<div class = "field line-space">
  <div class="span2" style="margin-left: 0; line-height: 2">
    <span class ="r-float"><i class ="icon-question-sign span2" id="explain"></i></span>
  	<%= f.label :explanation %>
  </div>
  <div id="explain-note" class="help-inline"><%= explanation_help %></div>
  <div style="clear:both; margin-top: 15px"><%= f.text_field :explanation %></div>
</div>

<%= f.hidden_field :updated_by %>

