     <li>
        <strong>
          <span class="span2 pagination-centered">Code</span>
          <span class="span3">Explanation</span>
          <span class="span2 pagination-centered">Cancellation date</span>
        </strong>
      </li>
      <% @codes.each do |code| %>
        <% if code.cancelled %>
          <li class="faded">
        <% else %>
          <li>
        <% end %>
          <span class="span2 pagination-centered">
            <%= render "shared/superuser_countryadmin_notifications", :model_name => code %>
            <%= code.insurance_code %>
          </span>
          <span class="span3"><%= code.explanation %></span>
          <span class="span2 pagination-centered"><%= date_display(code.cancelled) if code.cancelled? %></span>
          <% if current_user.superuser? || current_user.administrator?(@country.country) %>
            <span class="r-float">
          
              <%= link_to "edit", edit_insurance_code_path(code) %>
              | <%= link_to "del", code, method: :delete,
                             data: { confirm: "Delete '#{code.insurance_code}' from the insurance codes for #{@country.country}?  Sure?" } %>
          
            </span>
          <% end %>
        </li>
      <% end %>
