     <% @currencies.each do |currency| %>
        <li>
          <%= render "shared/superuser_admin_notifications", model_name: currency %>
          <%= currency.code %>:
          <%= currency.currency %>
          <% unless currency.decimal_places == 2 %>
            <i>(<%= currency.decimal_places %> decimal places)</i>
          <% end %>
          | <%= link_to "change", edit_currency_path(currency) %>
          <% unless currency.linked? %>
            <%= render "shared/admin_deletes", model_name: currency %>
          <% end %>
        </li>
      <% end %>
