<% provide(:title, "Edit Currency") %> 
<h1>Edit Currency</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@currency) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'fields', f: f %>
      
      <%= f.submit "Save changes", class: "btn btn-primary" %>
      <%= link_to 'Back', currencies_path, class: "btn" %>
    <% end %>
  </div>
</div>

