<% provide(:title, 'Currencies') %>

<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_sidebar' %>
    </section>
    <section>
      <%= render "stats" %>
    </section>
  </aside>
  <div class="span8">

    <h1 class="align-left">Currencies</h1>

    <div style="padding-bottom: 10px">
      <%= link_to "Add a currency", new_currency_path, class: "btn" %>
    </div>
    <ul class="itemlist">
      <%= render "list" %>
    </ul>
    <% if Currency.count > 10 %>
      <div style="padding-top: 10px">
        <%= link_to "Add a currency", new_currency_path, class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
