<div class="field line-space" style="clear:both">
  <span class="span3 r-float"><%= f.text_field :effective_date %></span>
  <i class ="icon-question-sign help-button" id="date-click" style="float:right"></i>
  <%= f.label :effective_date %>
   <div id="date-help" class="help-inline"><%= date_note %></div>
</div>

<div class="field line-space">
  <span class="span3 r-float"><%= f.text_field :shortcode %></span>
  <i class ="icon-question-sign help-button" id="code-click" style="float:right"></i>
  <%= f.label :shortcode, "Code" %>
  <div id="code-help" class="help-inline"><%= code_note %></div>
</div>

<div class="field line-space" style="clear:both">
  <span class="span3 r-float"><%= f.text_field :name %></span>
  <i class ="icon-question-sign help-button" id="name-click" style="float:right"></i>
  <%= f.label :name, "Description" %>
  <div id="name-help" class="help-inline"><%= name_note %></div>
</div>

<div class="field line-space" style="clear:both">
  <span class="span3 r-float">
    <%= f.text_field :weekly_milestone, class: "number-field" %>
  </span>
  <i class ="icon-question-sign help-button" id="weekly-click" style="float:right"></i>
  <%= f.label :weekly_milestone, "Weekly threshold" %>
  <div id="weekly-help" class="help-inline"><%= weekly_note %></div>
</div>

<div class="field line-space" style="clear:both">
  <% if @setting.monthly_milestone? && @setting.effective_date <= Date.today %>
    <span class="span3 r-float" id="m-mile">
  <% else %>
    <span class="span3 r-float">
  <% end %>
    <%= f.text_field :monthly_milestone, class: "number-field" %>
  </span>
  <i class ="icon-question-sign help-button" id="monthly-click" style="float:right"></i>
  <%= f.label :monthly_milestone, "Monthly threshold" %>
  <div id="monthly-help" class="help-inline"><%= monthly_note %></div>
</div>

<div class="field line-space" style="clear:both">
  <span class="span3 r-float">
     <%= f.text_field :annual_milestone, class: "number-field" %>
  </span>
  <i class ="icon-question-sign help-button" id="annual-click" style="float:right"></i>
  <%= f.label :annual_milestone, "Annual threshold" %>
  <div id="annual-help" class="help-inline"><%= annual_note %></div>
</div>

<%= render "shared/superuser_check", {f: f, object: f.object} %>

<div style="clear:both"><%= f.hidden_field :updated_by %></div>
<%= f.hidden_field :created_by %>
