<%= f.label :sector %>
<%= f.text_field :sector %>

<div id="approving" class= "line-space">
<span class="span3 r-float"><%= f.check_box :approved %></span>
<%= f.label :approved %>
</div>

<%= f.hidden_field :created_by %>
