<% provide(:title, "Edit Joiner Action") %> 
<div class="row">
  <aside class="span3">
    <section>
      <h1 class="line-space">
        <%= @business.name %>
      </h1>
    </section>
    <section>
      <div class="instruction">
        <div class="line-space">
          <%= joinactivity_instruction_4 %>
        </div>
      </div>
    </section>
  </aside>
  <div class="span6 offset0">
    <h1>Edit Joiner Action</h1>
    <%= form_for(@joiner_activity) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'fields', f: f %>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
      <%= link_to "All joiner actions", business_joiner_activities_path(@business), class: "btn" %>
      <%= link_to "Business settings", @business, class: "btn" %>
    <% end %>
  </div>
</div>
