<h1 class="align-left">Administrator Menu</h1>
<ul class="menulist">
  <li><%= link_to "Nationalities", nationalities_path %></li>
  <li><%= link_to "Currencies", currencies_path %></li>
  <li><%= link_to "Countries", countries_path %></li>
  <li><%= link_to "Sectors", sectors_path %></li>
  <li><%= link_to "Job Families", jobfamilies_path %></li>
  <li><%= link_to "Personal Qualities", qualities_path %></li>
  <li><%= link_to "Leaving Reasons", leaving_reasons_path %></li>
  <li><%= link_to "Absence Types", absence_types_path %></li>
  <li><%= link_to "Disciplinary Categories", disciplinary_categories_path %></li>
  <li><%= link_to "Grievance Types", grievance_types_path %></li>
  <li><%= link_to "Contract Types", contracts_path %></li>
  <li><%= link_to "Country Administrators", country_admins_path if current_user.superuser? %></li>
</ul>
