<% provide(:title, 'New Leaver Action') %>
<div class="row">
  <aside class="span3">
    <section>
      <h1 class="line-space">
        <%= @business.name %>
      </h1>
    </section>
    <section>
      <div class="instruction">
        <div class="line-space">
          <%= leaveactivity_instruction_4 %>
        </div>
      </div>
    </section>
  </aside>
  <div class="span6 offset0">
    <h1>New Leaver Action</h1>
    <%= form_for([@business, @leaver_activity]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create", class: "btn btn-primary" %>
      <%= link_to "All leaver actions", business_leaver_activities_path(@business), class: "btn" %>
      <%= link_to "Business settings", @business, class: "btn" %>
    <% end %>
  </div>
</div>
