<% provide(:title, 'Personal Qualities') %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_sidebar' %>
    </section>
    <section>
      <%= render "instructions" %>
    </section>
    <section>
      <h5 class="line-space">QUALITIES</h5>
      <%= render "shared/superuser_admin_stats" %>
      <h5 class="top-line-space line-space">DESCRIPTORS</h5>
      <%= render "stats" %>
    </section>
  </aside>
  
  <div class="span8">
    <h1 class="align-left">Personal Qualities</h1>

    <div style="padding-bottom: 10px">
      <%= link_to "Add a quality", new_quality_path, class: "btn" %>
    </div>
    <ul class="itemlist">
      <%= render "list" %>
    </ul>
    <% if Quality.count > 10 %>
      <div style="padding-top: 10px">
        <%= link_to "Add a quality", new_quality_path, class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
