<% provide(:title, "Check Reserved Occupation") %> 
<div class="row">
  <aside class="span3">
    <section>
      <h1 class="line-space">
        <%= @country.country %>
      </h1>
      <div class="instruction">
        <%= render "instructions" %>
      </div>
    </section>
  </aside>
  <div class="span6 offset0">
    <h1>Check Reserved Occupation</h1>
    <%= form_for(@occupation) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'fields', f: f %>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
      <%= link_to "All reserved occupations", country_reserved_occupations_path(@country), class: "btn" %>
      <%= link_to "Country set-up page", @country, class: "btn" %>
    <% end %>
  </div>
</div>
