<% provide(:title, "Edit Rank") %> 
<h1>Edit Rank</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@rank) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'fields', f: f %>
      
      <%= f.submit "Save change", class: "btn btn-primary" %>
      <%= link_to 'Back', ranks_path, class: "btn" if current_user.admin? %>
    <% end %>
  </div>
</div>

