      <li class="list-header">
        <span class="span2 pagination-centered">Service years from</span>
        <span class="span1 pagination-centered">To</span>
        <span class="span2 pagination-centered">Termination: % of monthly salary</span>
        <span class="span2 pagination-centered">Resignation: % of monthly salary</span>
      </li>
      <% @formulas.each do |formula| %>
        <li>
          <span class="span2 pagination-centered">
            <%= render "shared/superuser_countryadmin_notifications", :model_name => formula %>
            <%= formula.service_years_from %>
          </span>
          <span class="span1 pagination-centered"><%= formula.service_years_to %></span>
          <span class="span2 pagination-centered"><%= format_number(formula.termination_percentage) %></span>
          <span class="span2 pagination-centered"><%= format_number(formula.resignation_percentage) %></span>
          <% if current_user.superuser? || current_user.administrator?(@country.country) %>
            <span class="r-float">
          
              <%= link_to "edit", edit_gratuity_formula_path(formula) %>
              | <%= link_to "del", formula, method: :delete,
                             data: { confirm: "Delete line in the gratuity table for #{@country.country}?  Sure?" } %>
          
            </span>
          <% end %>
        </li>
      <% end %>
