      <li>
        <strong>
        <span class="span1">Code</span>
        <span class="span1">Paid (%)</span>
        <span class="span1">Sickness?</span>
        <span class="span1">Max days</span>
        <span class="span1">Certify?</span>
        <span class="span2">Notes</span>
        </strong>
      </li>
      <% @absences.each do |absence| %>
        <li>
          <span class="span1">
            <%= render "shared/superuser_notifications", model_name: absence %>
            <%= absence.absence_code %>
          </span>
          <span class="span1"><%= absence.paid %></span>
          <span class="span1"><%= absence.sickness? ? 'Yes' : 'No' %></span>
          <span class="span1"><%= absence.maximum_days_year.nil? ? '--' : absence.maximum_days_year %></span>
          <span class="span1"><%= absence.documentation_required? ? 'Yes' : 'No' %></span>
          <span class="span2"><%= absence.notes %></span>
          | <%= link_to "edit", edit_absence_type_path(absence) %>
          <%= render "admin_deletes", absence: absence %>
    
        </li>
      <% end %>
