 
     <% if current_user.superuser? || current_user.administrator?(@country.country) %>
      <div style="padding-bottom: 10px">
        <%= link_to "Add an absence type", new_country_country_absence_path(@country), class: "btn" %>
      </div>
    <% end %>
    <ul class="itemlist">
      <li>
        <strong>
        <span class="span1">Code</span>
        <span class="span1">Paid (%)</span>
        <span class="span1">Sickness?</span>
        <span class="span1">Max days</span>
        <span class="span1">Certify?</span>
        <span class="span2">Notes</span>
        </strong>
      </li>
      <% @absences.each do |absence| %>
        <li>
          <span class="span1">
            <% if current_user.superuser? %>
              <% if absence.recent? %>
                <span class="recent"> * </span>
              <% end %>
              <% if absence.updated? %>
                <span class="updates"> ^ </span>
              <% end %>
            <% end %>
            <%= absence.absence_code %>
          </span>
          <span class="span1"><%= absence.paid %></span>
          <span class="span1"><%= absence.sickness? ? 'Yes' : 'No' %></span>
          <span class="span1"><%= absence.maximum_days_year.nil? ? '--' : absence.maximum_days_year %></span>
          <span class="span1"><%= absence.documentation_required? ? 'Yes' : 'No' %></span>
          <span class="span3"><%= absence.notes %></span>
          <% if current_user.superuser? || current_user.administrator?(@country.country) %>
            | <%= link_to "edit", edit_country_absence_path(absence) %>
            | <%= link_to "del", absence, method: :delete,
                             data: { confirm: "Delete '#{absence.absence_code}' for #{@country.country}?  Sure?" } %>
          <% end %>
        </li>
      <% end %>
    </ul>
  
