        
      <% @countries.each do |country| %>  
        <li>
          <%= render "shared/superuser_admin_notifications", model_name: country %>
          <% if country.complete? %>
            <%= country.country.upcase %>
          <% else %>
            <%= country.country %>
          <% end %> 
          | <%= link_to "settings", country %>
          <% if current_user.superuser? || current_user.administrator?(country.country) %>
            | <%= link_to "change", edit_country_path(country) %>
          <% end %>
          <% if current_user.superuser? %>
            | <%= link_to "delete", country, method: :delete,
                             data: { confirm: "Delete '#{country.country}'?  Sure?" } %>
          <% end %>                   
          <% if current_user.administrator?(country.country) %>
            | <span class="standout">YOU'RE AN ADMINISTRATOR</span>
          <% end %>
        </li>
      <% end %>
