    <div class="line-space">
      <div>Maximum working hours per day<span class="r-float"><%= @country.max_hours_day %></span></div>
      <div>Maximum working hours per week<span class="r-float"><%= @country.max_hours_week %></span></div>
      <% if @country.rules =="Gulf" %>
        <div id="ramadan-day">Maximum working hours per day - Muslims in Ramadan
               <span class="r-float"><%= @country.max_hours_day_ramadan %></span></div>
        <div id="ramadan-week">Maximum working hours per week - Muslims in Ramadan
               <span class="r-float"><%= @country.max_hours_week_ramadan %></span></div>
      <% end %>
    </div>
    <div class="line-space">
      <div>For OT calculations, night-work begins at - 
        <span class="r-float"><%= @country.nightwork_start.try(:strftime, "%H:%M") %></span></div>
      <div>For OT calculations, night-work ends at - 
        <span class="r-float"><%= @country.nightwork_end.try(:strftime, "%H:%M") %></span></div>
      <div>OT rate - standard (% of hourly salary)<span class="r-float"><%= @country.OT_rate_standard %></span></div>
      <div>OT rate - evenings and weekends (% of hourly salary)<span class="r-float"><%= @country.OT_rate_special %></span></div>
    </div>    
    <div class="line-space">
      <div>Minimum vacation days<span class="r-float"><%= @country.minimum_vacation_days %>
         <%= @country.vacation_by_working_days? ? "working days" : "calendar days" %></span></div>
      <div>Probation days<span class="r-float"><%= @country.probation_days %></span></div>
      <div>Retirement age - male<span class="r-float"><%= @country.retirement_age_m %></span></div>
      <div>Retirement age - female<span class="r-float"><%= @country.retirement_age_f %></span></div>
    </div>
    <div class="line-space">
      <div>Taxation applies?<span class="r-float"><%= @country.taxation? ? "Yes" : "No" %></span></div>
      <div>Insurance applies?<span class="r-float"><%= @country.insurance? ? "Yes" : "No" %></span></div>
    </div>
    <div class="line-space">
      <% if @country.rules =="Gulf" %>
        <div id="gratuity">Leavers' gratuity applies?<span class="r-float"><%= @country.gratuity_applies? ? "Yes" : "No" %></span></div>
        <%= render "gratuity_ceilings" if @country.gratuity_applies? %>
      <% end %>
    </div>
    <div class="line-space">
      <div>Maximum percentage of salary deducted for loans?<span class="r-float"><%= @country.max_loan_ded_salary %></span></div>
       <% if @country.rules =="Gulf" %>
         <div id="sick-accrual">Can sickness accruals be accumulated for longer than one year?
            <span class="r-float"><%= @country.sickness_accruals? ? "Yes" : "No" %></span></div>
       <% end %>
    </div>
    <div class="line-space">
      <div>Are businesses required to report on employee ethnicity?
        <span class="r-float"><%= @country.ethnicity_reports? ? "Yes" : "No" %></span>
      </div>
      <% if @country.ethnicity_reports && @country.ethnicity_details? %>
        <div id ="eth-details" class="faded inset-box"><%= @country.ethnicity_details %></div>
      <% end %>
    </div>
    <div class="line-space">
      <div>Are certain occupations reserved for nationals?
        <span class="r-float"><%= @country.reserved_jobs? ? "Yes" : "No" %></span>
      </div>
    </div>
    <div class="line-space">
      <div>Are there laws requiring businesses to hire people with disabilities?
        <span class="r-float"><%= @country.disability_rules? ? "Yes" : "No" %></span>
      </div>
      <% if @country.disability_rules && @country.disability_details? %>
        <div id="disable-details" class="faded inset-box"><%= @country.disability_details %></div>
      <% end %>
    </div>
    <% unless @country.notes.blank? %>
      <div class="line-space">
        <div>Notes</div>
         <div>
          <%= simple_format(@country.notes, class: 'infobox') %>
        </div>
      </div> 
    <% end %>
