<% provide(:title, 'Countries') %>

<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_sidebar' %>
    </section>
  </aside>
  
  <div class="span8">
    <h1 class="align-left">Countries</h1>
    
    <div style="padding-bottom: 10px">
      <%= link_to "Add a country", new_country_path, class: "btn" %>
    </div>

    <ul class="itemlist">
      <% @countries.each do |country| %>
        <li>
          <%= link_to country.country, country %> - 
          <%= country.nationality.nationality %> - 
          <%= country.currency.currency %>
          | <%= link_to "change", edit_country_path(country) %>
          | <%= link_to "delete", country, method: :delete,
                             data: { confirm: "Delete '#{country.country}'?  Sure?" } %>
    
        </li>
      <% end %>
    </ul>

    <% if Country.count > 10 %>
      <div style="padding-top: 10px">
        <%= link_to "Add a country", new_country_path, class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
