<% provide(:title, @country.country) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <%= @country.country %>
      </h1>
      <div><%= @country.nationality.nationality %></div>
      <div><%= @country.currency.currency_code %></div>
      
    </section>
    <section>
      <div id="completion" class="line-space">
        <%= @country.complete? ? "SETTINGS COMPLETE" : "SETTINGS INCOMPLETE" %>
      </div>
      <div id="update-status" class="instruction">
         <%= render "instructions_show" %>
      </div>
      <div class="top-line-space">
        <%= link_to "All countries", countries_path, class: "btn" %>  
      </div>
    </section>
    
  </aside>
  <div class="span9">
    <div class="span6 offset0 top-line-space">
      <h3 class="line-space">Local Labor Law Regulations</h3>
      <% if current_user.superuser? || current_user.administrator?(@country.country) %>
        <div class="line-space">
          <%= link_to "Edit regulations", edit_country_path(@country), class: "btn" %>
        </div>
      <% end %>
      <%= render "setup_parameters" %>
    </div>
    <div class="span9"> 
      <ul class="menulist-push-left"> 
        <li>
          <span class="span2"><%= link_to "Absence codes", country_country_absences_path(@country) %></span>
            <% if current_user.superuser? || current_user.administrator?(@country.country) %>
              <span id="recent-absences" class="normal-font offset1">
                <%= render "shared/country_menu_change_stats", model_name: CountryAbsence %>
              </span>   
            <% end %> 
        </li>
        <li>
          <span class="span2"><%= link_to "National holidays", country_holidays_path(@country) %></span>
            <% if current_user.superuser? || current_user.administrator?(@country.country) %>
              <span id="recent-holidays" class="normal-font offset1">
                <%= render "shared/country_menu_change_stats", model_name: Holiday %>
              </span>   
            <% end %> 
        </li>
        <li>
          <% if @country.taxation? %>
            <span class="span2"><%= link_to "Tax rules", "#" %></span>
          <% else %>
            <span class="span2 faded">Tax rules</span>
            <span id="no-tax" class="normal-font offset1">Taxation is not switched on.</span> 
          <% end %>
        </li>
        <li>
          <% if @country.insurance? %>
            <span class="span2"><%= link_to "National insurance", insurance_menu_country_path(@country) %></span>
          <% else %>
            <span class="span2 faded">National insurance</span>
            <span id="no-insurance" class="normal-font offset1">National insurance is not switched on.</span> 
          <% end %>
        </li>
        <li>
          <% if @country.rules == "Gulf" %>
            <% if @country.gratuity_applies? %>
              <span class="span2"><%= link_to "Gratuity rules", country_gratuity_formulas_path(@country) %></span>
              <% if current_user.superuser? || current_user.administrator?(@country.country) %>
                <span id="recent-gratuities" class="normal-font offset1">
                  <%= render "shared/country_menu_change_stats", model_name: GratuityFormula %>
                </span>   
              <% end %> 
            <% else %>
              <span class="span2 faded">Gratuity rules</span>
              <span id="no-gratuity" class="normal-font offset1">'Gratuity applies' is not switched on.</span> 
            <% end %>
          <% end %>
        </li>
        <li>
          <% if @country.ethnicity_reports? %>
            <span class="span2"><%= link_to "Ethnic groups", country_ethnic_groups_path(@country) %></span>
            <% if current_user.superuser? || current_user.administrator?(@country.country) %>
              <span id="recent-ethnic-groups" class="normal-font offset1">
                <%= render "shared/country_menu_change_stats", model_name: EthnicGroup %>
              </span>   
            <% end %>
          <% else %>
            <span class="span2 faded">Ethnic groups</span>
            <span id="no-ethnicity" class="normal-font offset1">Ethnicity reports are not required.</span>
          <% end %>  
        </li>
        <li>
          <% if @country.reserved_jobs? %>
            <span class="span2"><%= link_to "Reserved jobs", country_reserved_occupations_path(@country) %></span>
            <% if current_user.superuser? || current_user.administrator?(@country.country) %>
              <span id="recent-reserved-occupations" class="normal-font offset1">
                <%= render "shared/country_menu_change_stats", model_name: ReservedOccupation %>
              </span>   
            <% end %>
          <% else %>
            <span class="span2 faded">Reserved jobs</span>
            <span id="no-reserved-jobs" class="normal-font offset1">No jobs are reserved for nationals in this country.</span>
          <% end %>  
        </li>
      </ul>  
    </div>
  </div>
</div>

