<div class "top-line-space" style="clear:both">
  <% if @rate.effective.nil? %>
    <span class="span2" style="margin: 0"><%= f.label :effective, "Effective date" %></span>
      <i class ="icon-question-sign help-button" id="edate-click" style="float:right"></i>
    <span class="span3">  
      <%= f.text_field :effective %>
    </span>
    <div id="edates" class="help-inline"><%= edate_explain %></div>
  <% else %>
    EFFECTIVE DATE: <%= date_display_long(@rate.effective) %>
  <% end %>
</div>
<div style="clear:both">
  <%= f.hidden_field :updated_by %>
  <%= f.hidden_field :effective unless @rate.effective == nil %>
</div>
<div class="line-space"><%= f.hidden_field :created_by %></div>

<% if @rate.effective.nil? %>
  <div id="rate-entry" class="hide-form">
<% else %>
  <div id="rate-entry">
<% end %>
    <%= render "rates_fields", f: f %>
  </div>
