<% provide(:title, @page_title) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @country.country %>
      </h1>
    </section>
    <section>
      <div class="instruction">
        <%= render "insurance_rates/instructions" %>  
      </div>
    </section>
    <section>
      <%= render "shared/change_stats" %>
      <% unless @status == "past" %>
        <% if current_user.administrator?(@country.country) || current_user.superuser? %>
          <span id="change-note" class="top-line-space"><em>Stats include changes for both employee and employer rates.
           The history lists show them all.</em></span>
        <% end %>
      <% end %>
    </section>
  </aside>
  
  <div class="span8">
    <h1 class="align-left"><%= @page_title %></h1>
    <div class="line-space">
      <% if @focus == "employee" %>
        <%= link_to "Switch to rates for EMPLOYERS", country_insurance_employer_rates_path(@country) %>
      <% else %>    
        <%= link_to "Switch to rates for EMPLOYEES", country_insurance_rates_path(@country) %>
      <% end %>
    </div>
    <div style="padding-bottom: 10px">
      <% if current_user.superuser? || current_user.administrator?(@country.country) %>
        <%= link_to "Add a new set of rates", "#", class: "btn" %>
        <%= link_to "Add a single rate", new_country_insurance_rate_path(@country), class: "btn" %>
      <% end %>
      <%= link_to "Back to main insurance menu", insurance_menu_country_path(@country), class: "btn" %>
    </div>
    <%= render "insurance_rates/warning" %>
    <div class="line-space">
      Listed here <%= @list_type %>
      <%= render "insurance_rates/button_display" %>
    </div>
    <ul class="itemlist">
      <%= render "insurance_rates/list" %>
    </ul>
  </div>
</div>
