<% provide(:title, 'Nationalities') %>
<h1>Nationalities</h1>

<div style="padding-bottom: 10px">
  <%= link_to "Add a nationality", new_nationality_path, class: "btn btn-small" %>
</div>
<ul class="itemlist">
  <% @nationalities.each do |nationality| %>
    <li>
      <%= nationality.nationality %>
      | <%= link_to "change", edit_nationality_path(nationality) %>
      | <%= link_to "delete", nationality, method: :delete,
                             data: { confirm: "Delete #{nationality.nationality}?  Sure?" } %>
    
    </li>
  <% end %>
</ul>
<div style="padding-top: 10px">
  <%= link_to "Add a nationality", new_nationality_path, class: "btn btn-small" %>
</div>
