<% provide(:title, "Change Country Administrator") %> 
<h1>Change Country Administrator</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@country_admin) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'fields', f: f %>
      
      <%= f.submit "Save change", class: "btn btn-primary" %>
      <%= link_to 'Back', country_admins_path, class: "btn" %>
    <% end %>
  </div>
</div>
